.body-calendar {
    padding: 20px;
    min-height: 300px;
}

.body-calendar h3,
h5 {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.accept {
    /*
    background-color: #f2994a;
    */
    background-color: #103965 !important;
}

.accept:hover {
    color: black;
}

.cancel {
    margin-right: 10px;
}

.cancel:hover {
    color: black;
}

h5 {
    padding: 20px 0;
}
