.body-combos {
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    min-height: 250px;
}

.table-sm td,
.table-sm th {
    padding: 0rem !important;
}

table td,
.table th {
    vertical-align: text-top !important;
}

.combo-item {
    padding: 10px 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #ffffff;
    width: 100%;
    padding: 30px 0 0 30px;
}

.combo {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    max-height: 120px;
    width: 266px;
    overflow: hidden;
    padding: 10px;
}

.combo p {
    margin: 0;
    padding: 0;
}

button {
    border-style: none;
    color: #fff;
    background-color: #dc3545;
    border-radius: 7px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.combo-item a {
    border-style: none;
    color: #fff;
    background-color: #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.combo-item form {
    padding: 0;
    margin: 0;
}

.combo-item form button {
    border-style: none;
    color: #fff;
    background-color: #f2994a;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.buttons-section {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.delete-button {
    margin-right: 10px;
    background-color: #dc3545;
}

.delete {
    background-color: #dc3545;
}

.combo-titles {
    display: flex;
}

.combo-title-first {
    width: 266px;
    color: #ffffff;
}

.combo-title {
    color: #ffffff;
    width: 150px;
    text-align: center;
}

.combo-container {
    width: 100%;
    display: flex;
}

.combo-item-prop {
    width: 150px;
    text-align: center;
}

.combo-item-prop-estado {
    padding: 10px;
    background-color: #ffffff;
}

.combo-item-prop-estado p,
.edit-combo-title {
    margin: 0;
    padding: 0;
}

.body-show-combo {
    padding: 30px;
}

.body-show-combo form label {
    color: #ffffff;
}

.body-form {
    padding: 10px 30px 30px 30px;
}

.body-form-combo {
    background-color: #f2994a;
    border-radius: 24px;
    padding: 20px;
}

.item-contribucion {
    background-color: #f2994a;
    padding: 10px 15px;
    border-radius: 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    max-width: 450px;
}

.item-contribucion label {
    display: inline;
    padding: 10px;
    width: 100%;
    margin: 0;
}

/**
.item-contribucion input {
    height: 15px;
    width: 80px;
}

**/

.guardar {
    padding-top: 10px;
    text-align: right;
}

.guardar button {
    background-color: #f2994a;
    border-radius: 7px;
    margin: 10px;
}

.guardar button:hover {
    color: #000000;
}

.header-combo {
    display: flex;
}

.create-combo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    width: 30%;
    /* background-color: #007bff; */
    background-color: #103965 !important;
    border-radius: 4px;
    padding: 5px;
}

.create-combo a {
    padding: 0;
    margin: 0;
}

.combo-props {
    padding: 20px;
}

.titulo {
    padding: 20px 20px 0 20px;
    margin: 0;
}

.item-estado {
    color: #ffffff;
    padding: 10px 0;
}

.item-name {
    color: #ffffff;
}

.product-table {
    background-color: #f2994a;
    padding: 20px;
    border-radius: 20px;
}

.button-section {
    text-align: right;
}

.combo-edit-buttons-section {
    text-align: right;
}

.add-row {
    color: black;
    background-color: #ffffff;
    border-radius: 7px;
}

.list-combo-title {
    padding: 20px 0;
}

.delete:hover {
    color: black;
}

.create-save {
    background-color: #103965 !important;
    /*
    border-radius: 7px;
    */
}

.create-save:hover {
    color: black;
}

.accept {
    background-color: #103965 !important;
}

.accept-combo{
    background-color: #02d824 !important;
    height: 36px !important;
    color:white;
}

.cancel-combo{
    background-color: #f01832 !important;
    height: 36px !important;
}

.cancel {
    margin-right: 10px;
    background-color: #dc3545 !important;
}

.cancel:hover {
    color: black;
}

/**  estilos creados por lucas **/
/** inputs y button responsivos **/

.item-contribucion mini-input {
    height: 15px;
    width: 80px;
}

.mini-input {
    width: 15%;
    text-align: left;
}

.input-text-style {
    height: 30px;
}



@media screen and (max-width: 800px) {
}



