.body-request {
    padding: 20px;
    max-width: 1156px;
    margin: 0 auto;
    background-color: #cdc6c2;
}
.letra {
    color: white;
}

.text-right {
    text-align: right;
}

.center-item {
    text-align: center;
}

.body-registro {
    margin: 20px auto;
}

.fromTo {
    margin-top: -5px !important;
    margin-left: -15px !important;
}
